body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1,
h2 {
    color: #9b59b6;
}

.section {
    background: #2c2c3a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    margin: 20px;
}

.dropdown-menu>li {
    position: relative;
}

.dropdown-menu>li>a {
    color: #a855f7;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1e1e2e;
    display: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.imagem-menu {
    height: 35px;
    width: 35px;
    ;
}

.submenu li {
    margin: 0;
}

.submenu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    white-space: nowrap;
}

.dropdown-menu>li:hover .submenu {
    display: block;
}

.submenu li a:hover {
    display: block;
    color: #a855f7;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 30px 10px;
}

button {
    background-color: #a855f7;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8819ef;
}