body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; 
  color: #6A0DAD; 
}

header {
  text-align: center;
  background-color: #6A0DAD;
  color: white;
  padding: 20px 0;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

section {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center; 
}

.content {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 900px; 
}

h2 {
  color: #6A0DAD; 
  text-align: center; 
}

img {
  width: 100%;
  height: auto;
  max-width: 600px; 
  display: block;
  margin: 20px auto; 
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

ul li {
  margin: 10px 0;
}

button {
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #6A0DAD;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #8A2BE2; 
}

footer {
  text-align: center;
  margin-top: 40px;
  color: white;
  font-size: 14px;
}


.content p {
  text-align: justify;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding-left: 0; 
  list-style-type: none;
}

ul li {
  background-color: #6A0DAD;
  color: white; 
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px; 
  width: 80%; 
  text-align: center;
}

ul li:hover {
  background-color: #8A2BE2; 
}

p {
  font-weight: bold; 
  text-align: center;
  margin: 0 auto;
  width: 80%;
  line-height: 1.6; 
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

